
 body {
 font-family: 'Raleway'; 
 background-image: url(https://lh6.googleusercontent.com/v70eAbswGksksQBcM2ghVBCJg0R5AYBh0UcFE2wa-WKfNnSU8vL60uU6z3x2-zJjwJtK4jWB0gr6191Nt3uj=w1848-h949-rw);
 background-blend-mode: screen;
 }
 p {
     text-align: justify;
 }

 h1 { 
 text-align: center;
 font-weight: 900;
 }
 




           